{% include base_path %}

{% if post.altTitle %}
  {% assign title = post.altTitle %}
{% else %}
  {% assign title = post.title %}
{% endif %}

{% comment %}
  Neither Liquid nor CSS have a nice pretty-print for numbers. As all numbers
  here have only one significant digit, getting number grouping can be achieved
  by replacing "000" with " 000" from the right and to avoid a space in that
  string, the first replacement zero gets a margin instead of a space.
{% endcomment %}
{% assign zeroGroupReversed = '<span style="margin-left: 0.2em;">0</span>00' | split: "" | reverse | join: "" %}
{% assign prettyUserCount = post.users | split: "" | reverse | join: "" | replace: "000", zeroGroupReversed | split: "" | reverse | join: "" %}

<div class="logo_name_bundle"
  title="{{ title  }}">
  <a href="{{ base_path }}{{ post.url }}" rel="permalink">
    <img src="{{ base_path }}/images/wallet_icons/tiny/{{ post.icon }}" class="app_logo" alt="Wallet Logo">
    <span class="app_name">{{ title  }}</span>
  </a>
</div>
