{% include base_path %}

{% assign posts_by_ratings = site.android | sort: "ratings" | reverse %}
{% assign downloads = "100000000,50000000,10000000,5000000,1000000,500000,100000,50000,10000,5000,1000,500,100,50,10,5" | split: "," %}
{% assign verdicts = "reproducible,nonverifiable,nosource,custodial" | split: "," %}
<div id="sidebarWalletList">
{% for verdict in verdicts %}
  <div class="verdict {{ verdict }}" style="margin:1em 0em 0.5em 0em">{{ site.data.verdicts[verdict].short }}</div>
  {% assign verdictPosts = posts_by_ratings | where: "verdict", verdict %}
  {% for d in downloads %}
    {% assign downloadsPosts = verdictPosts | where: "users", d %}
    {% for post in downloadsPosts %}
      {% include list_of_wallets_sidebar_item.html %}
    {% endfor %}
  {% endfor %}
{% endfor %}
(<a href="{{ base_path }}/moreApps">more apps</a>)
</div>
<div id="sidebarWalletListShowButton">
  <button class="btn" id="showWallets">Show more ...</button>
</div>
